// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.agave {
    background: radial-gradient(80.28% 80.28% at 50.00% 50.00%, rgba(18, 18, 18, 0.92) 0%, #101010 100%);
    color: $agave-text-color;

    .navbar-scroll {
        background: radial-gradient(80.28% 80.28% at 50.00% 50.00%, rgba(18, 18, 18, 0.92) 0%, #101010 100%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'colusregular', sans-serif;
    }

    .navegacion {
        padding: 30px 0;

        a {
            color: $agave-link-color;
        }

        ul {
            margin-bottom: 0;
        }

        .logo {
            max-width: 74px;
        }

        nav {
            text-transform: uppercase;

            ul {
                border-bottom: 1px solid $agave-navigation-border-bottom-color;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;

                        &:hover,
                        &:focus {
                            background-color: #DFCDB8;
                            color: #333;
                        }
                    }

                    .active {
                        background-color: #DFCDB8;
                        color: #333;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }

            ul > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .jumbotron {
        img {
            position: relative;
            z-index: 2;
        }

        .dashed-border {
            @include background('../images/agave/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 1px;
        }
    }

    .descripcion {
        padding: 60px 0;
        position: relative;

        h1 {
            @include font-size(5rem);
        }

        &::after {
            @include background('../images/agave/decor-descripcion.png', center, contain);
            position: absolute;
            top: -32px;
            right: 0;
            width: 145px;
            height: 114px;
            content: '';
        }
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
    }

    .descanso-1 {
        h1 {
            font-family: 'century_gothicbold', sans-serif;
        }

        &::after {
            @include background('../images/agave/decor-descanso-1.png', center, contain);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 87px;
            height: 150px;
            content: '';
            z-index: -1;
        }
    }

    .descanso-2 {
        h1 {
            @include font-size(5rem);
        }

        .position-relative {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include transition(ease, 0.3s);

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                span {
                    display: none;
                }
            }

            img {
                min-width: 100%;
            }

            &:hover {
                transform: scale(1.03) translate3d(0,0,0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.75);
            }
        }

        .rounded {
            border-radius: 44px !important;
        }

        .overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 7.81%, #000 100%);            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            padding: 40px;

            h2 {
                font-family: 'century_gothicregular', serif;
                text-transform: lowercase;
                @include font-size(2rem);
            }
        }

        &::after {
            @include background('../images/agave/decor-descanso-2.png', center, contain);
            position: absolute;
            top: 0;
            right: 0;
            width: 81px;
            height: 116px;
            content: '';
            z-index: -1;
        }
    }

    .descanso-foto {
        @include background('../images/agave/bg-descanso-foto.jpg', center, cover);
        min-height: 500px;
    }

    .menu-agave {
        a {
            color: $agave-link-color;
        }

        #logo {
            @include background('../images/agave/menu/logo.svg', center, cover);
            width: 320px;
            height: 178px;
            margin: 60px auto 120px;
            -o-transition: ease .3s;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(1507%) hue-rotate(304deg) brightness(105%) contrast(86%);
            filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(1507%) hue-rotate(304deg) brightness(105%) contrast(86%);

            span {
                display: none;
            }
        }

        nav {
            ul > li {
                margin: 60px 0;
            }
        }

        .titulo {
            position: relative;
            display: inline-block;

            &::before,
            &::after {
                content: '';
                position: absolute;
                @include absolute-center-y;
            }

            &::after {
                -webkit-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                        transform: scaleX(-1);
            }
        }

        .titulo-menu {
            &::before,
            &::after {
                @include background('../images/agave/menu/decor-titulo-menu@2x.png', center, contain);
                width: 44px;
                height: 31px;
            }

            &::before {
                left: -50px;
            }

            &::after {
                right: -50px;
                top: 12px;
            }
        }

        .titulo-cocteleria {
            &::before,
            &::after {
                @include background('../images/agave/menu/decor-titulo-cocteleria@2x.png', center, contain);
                width: 32px;
                height: 43px;
            }

            &::before {
                left: -50px;
            }

            &::after {
                right: -50px;
                top: 6px;
            }
        }

        .titulo-drinks {
            color: #D2924B;
            @include font-size(3rem);
            position: relative;
            text-transform: none;
            top: -30px;
            -webkit-transform: skew(0deg, -6deg);
                -ms-transform: skew(0deg, -6deg);
                    transform: skew(0deg, -6deg);
        }

        .boton {
            display: block;
            @include font-size(1.6rem);
            padding: 6px 0;
            position: relative;
            text-transform: uppercase;

            &::before,
            &::after {
                background: linear-gradient(to right, rgba(39, 60, 90, 0.1) 0, rgb(241, 204, 172) 50%, rgba(39, 60, 90, 0.1) 100%);
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                @include absolute-center-x;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .contactanos {
        @include background('../images/agave/bg-contactanos.webp', center, cover);
        padding: 100px 0;
        position: relative;
        color: #FFF;

        .overlay {
            opacity: 0.38999998569488525;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        h1 {
            @include font-size(4rem);
            letter-spacing: 2px;
        }

        h2 {
            @include font-size(2rem);
            letter-spacing: 2px;
        }
    }

    .galeria {
        @include background('../images/agave/bg-galeria.png', center, contain);
        padding: 100px 0;

        &::after {
            position: absolute;
            bottom: -14px;
            content: '';
            @include background('../images/agave/decor-galeria.png', bottom center, contain);
            @include absolute-center-x;
            width: 118px;
            height: 110px;
        }
    }

    footer {
        @include background('../images/agave/bg-footer.webp', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $agave-link-color-hover;
            }
        }

        .overlay {
            opacity: 0.38999998569488525;
            background: #000;
        }
    }
}

.bg-menu {
    @include background('../images/agave/menu/bg.jpg', center, cover);
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .agave {
        .navegacion {
            nav {
                text-transform: uppercase;
    
                ul {
                    flex-direction: row;
                }
    
                ul > * {
                    flex: 1;
                    text-align: center;
                }
            }
        }

        .descanso-1 {
            &::after {
                width: 104px;
                height: 180px;
            }
        }

        .descanso-2 {
            &::after {
                width: 81px;
                height: 116px;
            }
        }

        .galeria {
            &::after {
                bottom: -14px;
                width: 118px;
                height: 110px;
            }
        }

        .menu-agave {
            .titulo-menu {
                &::before,
                &::after {
                    width: 44px;
                    height: 31px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 16px;
                }
            }
    
            .titulo-cocteleria {
                &::before,
                &::after {
                    width: 32px;
                    height: 43px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 10px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .agave {
        .descripcion {
            &::after {
                width: 167px;
                height: 132px;
            }
        }

        .descanso-1 {
            &::after {
                left: -64px;
            }
        }

        .descanso-2 {
            &::after {
                width: 111px;
                height: 160px;
            }
        }

        .galeria {
            padding-bottom: 120px;

            &::after {
                bottom: -38px;
                width: 148px;
                height: 138px;
            }
        }

        .menu-agave {
            .titulo-menu {
                &::before,
                &::after {
                    width: 44px;
                    height: 31px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 22px;
                }
            }
    
            .titulo-cocteleria {
                &::before,
                &::after {
                    width: 32px;
                    height: 43px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 16px;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .agave {
        .jumbotron {
            .dashed-border {
                margin-top: 60px;
            }
        }

        .descripcion {
            &::after {
                top: -63px;
                width: 230px;
                height: 182px;
            }
        }

        .descanso-1 {
            &::after {
                width: 104px;
                height: 180px;
                left: -50px;
            }
        }

        .descanso-2 {
            &::after {
                width: 139px;
                height: 200px;
            }
        }

        .galeria {
            padding-bottom: 160px;

            &::after {
                bottom: -60px;
                width: 193px;
                height: 180px;
            }
        }

        .menu-agave {
            .titulo-menu {
                &::before,
                &::after {
                    width: 44px;
                    height: 31px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 28px;
                }
            }
    
            .titulo-cocteleria {
                &::before,
                &::after {
                    width: 32px;
                    height: 43px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 23px;
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .agave {
        .descripcion {
            &::after {
                width: 300px;
                height: 237px;
            }
        }
        
        .descanso-1 {
            &::after {
                width: 104px;
                height: 180px;
                left: 0;
            }
        }

        .descanso-2 {
            &::after {
                width: 167px;
                height: 240px;
            }
        }

        .galeria {
            &::after {
                bottom: -70px;
                width: 213px;
                height: 200px;
            }
        }

        .menu-agave {
            .titulo-menu {
                &::before,
                &::after {
                    width: 44px;
                    height: 31px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 34px;
                }
            }
    
            .titulo-cocteleria {
                &::before,
                &::after {
                    width: 32px;
                    height: 43px;
                }
    
                &::before {
                    left: -50px;
                }
    
                &::after {
                    right: -50px;
                    top: 28px;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    .descanso-1 {
        &::after {
            width: 124px;
            height: 200px;
        }
    }
}