// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.catering {
    background: transparent;
    color: $catering-text-color;

    .navbar-scroll {
        background: $primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'ruan_naturalbold', sans-serif;
    }

    .navegacion {
        padding: 30px 0;

        a {
            color: $catering-link-color;
        }

        ul {
            margin-bottom: 0;
        }

        .logo {
            max-width: 74px;
        }

        nav {
            text-transform: uppercase;

            ul {
                border-bottom: 1px solid $catering-navigation-border-bottom-color;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;

                        &:hover,
                        &:focus {
                            background-color: #BF6C46;
                            color: #FFF;
                        }
                    }

                    .active {
                        background-color: #BF6C46;
                        color: #FFF;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }

            ul > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .jumbotron {
        img {
            position: relative;
            z-index: 2;
        }

        .dashed-border {
            @include background('../images/catering/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 1px;
        }
    }

    .descripcion {
        padding: 60px 0;
        position: relative;

        &::after {
            @include background('../images/catering/decor-descripcion.png', center, contain);
            position: absolute;
            top: -32px;
            right: 0;
            width: 145px;
            height: 114px;
            content: '';
        }
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
    }

    .descanso-1 {
        &::after {
            @include background('../images/catering/decor-descanso-1.png', center, contain);
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            height: 42px;
            content: '';
        }
    }

    .descanso-2 {
        &::after {
            @include background('../images/catering/decor-descanso-2.png', center, contain);
            position: absolute;
            top: 0;
            right: 30px;
            width: 46px;
            height: 85px;
            content: '';
        }
    }

    .descanso-3 {
        .overlay {
            color: #FFF;
            @include font-size(3rem);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                span {
                    display: none;
                }
            }
        }
        
        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            @include background('../images/catering/decor-descanso.png', center, contain);
            @include absolute-center-x;
            position: absolute;
            bottom: -40px;
            width: 86%;
            height: 85px;
            content: '';
        }
    }

    .caracteristicas {
        padding: 60px 0;
        position: relative;

        &::after {
            @include background('../images/catering/decor-caracteristicas.png', center, contain);
            position: absolute;
            top: 0;
            right: 0;
            width: 104px;
            height: 85px;
            content: '';
        }
    }

    .descanso-foto {
        // @include background('../images/catering/bg-descanso-foto.jpg', center, cover);
        // Quitar !important a las siguientes 4 líneas en caso de que se ponga video de fondo:
        background: url('../images/catering/bg-descanso-foto.webp') no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        min-height: 500px !important;
    }

    .contactanos {
        @include background('../images/catering/bg-contactanos.webp', center, cover);
        padding: 100px 0;
        position: relative;
        color: #FFF;

        .overlay {
            opacity: 0.6000000238418579;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        h1 {
            font-family: 'colusregular', serif;
            @include font-size(4rem);
            letter-spacing: 2px;
        }

        h2 {
            @include font-size(2rem);
            letter-spacing: 2px;
        }
    }

    .galeria {
        padding: 100px 0;

        &::after {
            position: absolute;
            bottom: 20px;
            left: 5%;
            content: '';
            @include background('../images/catering/decor-galeria.png', bottom center, contain);
            width: 45px;
            height: 70px;
        }
    }

    footer {
        @include background('../images/catering/bg-footer.webp', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $catering-link-color-hover;
            }
        }

        .overlay {
            opacity: 0.699999988079071;
            background: #000;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .catering {
        .navegacion {
            nav {
                text-transform: uppercase;
    
                ul {
                    flex-direction: row;
                }
    
                ul > * {
                    flex: 1;
                    text-align: center;
                }
            }
        }

        .descanso-3 {
            padding-bottom: 80px;
    
            &::after {
                bottom: -56px;
                width: 80%;
                height: 114px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .catering {
        .descripcion {
            &::after {
                width: 167px;
                height: 132px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 1rem;
                }
            }

            &::after {
                width: 204px;
                height: 167px;
            }
        }

        .descanso-1 {
            &::after {
                left: 0;
                right: auto;
                width: 120px;
                height: 42px;
            }
        }

        .descanso-2 {
            &::after {
                left: 30px;
                right: auto;
                width: 46px;
                height: 85px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 200px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .catering {
        .jumbotron {
            .dashed-border {
                margin-top: 60px;
            }
        }

        .descripcion {
            &::after {
                top: -63px;
                width: 230px;
                height: 182px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 2rem;
                }
            }
        }

        .descanso-1 {
            &::after {
                width: 170px;
                height: 60px;
            }
        }

        .descanso-2 {
            &::after {
                width: 70px;
                height: 129px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 250px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .catering {
        .descripcion {
            &::after {
                width: 300px;
                height: 237px;
            }
        }
        
        .descanso-1 {
            &::after {
                width: 220px;
                height: 78px;
            }
        }

        .descanso-2 {
            &::after {
                width: 110px;
                height: 203px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 300px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}