// Bootstrap
$primary: white;
$secondary: red;
$modal-content-bg: rgba(0,0,0,0.1);

// Home
$home-text-color: #F1CCAC;
$home-link-color: #F1CCAC;
$home-link-color-hover: #F1CCAC;
$home-nav-color-button: #fff;
$home-nav-text-color-button: #000;
$home-nav-color-button-hover: #102034;
$home-nav-text-color-button-hover: #fff;

// Catering
$catering-text-color: #8B350E;
$catering-link-color: #8B350E;
$catering-link-color-hover: #8B350E;
$catering-navigation-border-bottom-color: #8B350E;

// Comedores
$comedores-text-color: #794438;
$comedores-link-color: #794438;
$comedores-link-color-hover: #794438;
$comedores-navigation-border-bottom-color: #794438;

// Tarahumara
$tarahumara-text-color: #7F1111;
$tarahumara-link-color: #7F1111;
$tarahumara-link-color-hover: #7F1111;
$tarahumara-navigation-border-bottom-color: #7F1111;

// Agave
$agave-text-color: #DFCDB8;
$agave-link-color: #DFCDB8;
$agave-link-color-hover: #DFCDB8;
$agave-navigation-border-bottom-color: #DFCDB8;

// Ruan
$ruan-text-color: #F1CCAC;
$ruan-link-color: #F1CCAC;
$ruan-link-color-hover: #F1CCAC;
$ruan-navigation-border-bottom-color: #F1CCAC;

// Footer
$footer-text-color: white;
$footer-link-color: white;