// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.comedores {
    background: radial-gradient(80.28% 80.28% at 50.00% 50.00%, rgba(241, 204, 172, 0.78) 0%, #F1CCAC 100%);
    color: $comedores-text-color;

    .navbar-scroll {
        background: radial-gradient(80.28% 80.28% at 50.00% 50.00%, rgba(241, 204, 172, 0.78) 0%, #F1CCAC 100%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'ruan_naturalbold', sans-serif;
    }

    .navegacion {
        padding: 30px 0;

        a {
            color: $comedores-link-color;
        }

        ul {
            margin-bottom: 0;
        }

        .logo {
            max-width: 74px;
        }

        nav {
            text-transform: uppercase;

            ul {
                border-bottom: 1px solid $comedores-navigation-border-bottom-color;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;

                        &:hover,
                        &:focus {
                            background-color: #794438;
                            color: #FFF;
                        }
                    }

                    .active {
                        background-color: #794438;
                        color: #FFF;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }

            ul > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .jumbotron {
        img {
            position: relative;
            z-index: 2;
        }

        .dashed-border {
            @include background('../images/comedores/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 1px;
        }
    }

    .descripcion {
        padding: 60px 0;
        position: relative;

        &::after {
            @include background('../images/comedores/decor-descripcion.png', center, contain);
            position: absolute;
            top: -32px;
            left: 0;
            width: 92px;
            height: 126px;
            content: '';
        }
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
    }

    .descanso-1 {
        &::after {
            @include background('../images/comedores/decor-descanso-1.png', center, contain);
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            height: 42px;
            content: '';
        }
    }

    .descanso-2 {
        &::after {
            @include background('../images/comedores/decor-descanso-2.png', center, contain);
            position: absolute;
            top: -40px;
            left: 0;
            width: 70px;
            height: 79px;
            content: '';
        }
    }

    .descanso-3 {
        .overlay {
            color: #FFF;
            @include font-size(3rem);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                span {
                    display: none;
                }
            }
        }
        
        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            @include background('../images/comedores/decor-descanso.png', center, contain);
            position: absolute;
            right: 60px;
            bottom: -40px;
            width: 96px;
            height: 90px;
            content: '';
        }
    }

    .caracteristicas {
        padding: 60px 0;
        position: relative;

        &::after {
            @include background('../images/comedores/decor-caracteristicas.png', center, contain);
            position: absolute;
            bottom: 0;
            right: 0;
            width: 167px;
            height: 86px;
            content: '';
        }
    }

    .descanso-foto {
        @include background('../images/comedores/bg-descanso-foto.jpg', center, cover);
        min-height: 500px;
    }

    .contactanos {
        @include background('../images/comedores/bg-contactanos.webp', center, cover);
        padding: 100px 0;
        position: relative;
        color: #FFF;

        .overlay {
            opacity: 0.6000000238418579;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        h1 {
            font-family: 'colusregular', serif;
            @include font-size(4rem);
            letter-spacing: 2px;
        }

        h2 {
            @include font-size(2rem);
            letter-spacing: 2px;
        }
    }

    .galeria {
        padding: 100px 0;

        &::after {
            position: absolute;
            bottom: -30px;
            @include absolute-center-x;
            content: '';
            @include background('../images/comedores/decor-galeria.png', bottom center, contain);
            width: 118px;
            height: 70px;
        }
    }

    footer {
        @include background('../images/comedores/bg-footer.webp', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $comedores-link-color-hover;
            }
        }

        .overlay {
            opacity: 0.699999988079071;
            background: #000;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .comedores {
        .navegacion {
            nav {
                text-transform: uppercase;
    
                ul {
                    flex-direction: row;
                }
    
                ul > * {
                    flex: 1;
                    text-align: center;
                }
            }
        }

        .descanso-3 {
            padding-bottom: 80px;
    
            &::after {
                bottom: -56px;
                width: 119px;
                height: 114px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .comedores {
        .descripcion {
            &::after {
                width: 109px;
                height: 150px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 1rem;
                }
            }

            &::after {
                width: 260px;
                height: 134px;
            }
        }

        .descanso-1 {
            &::after {
                width: 120px;
                height: 42px;
            }
        }

        .descanso-2 {
            &::after {
                width: 100px;
                height: 113px;
            }
        }

        .descanso-3 {    
            &::after {
                bottom: -56px;
                width: 164px;
                height: 155px;
            }
        }

        .galeria {
            &::after {
                bottom: -80px;
                width: 250px;
                height: 148px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .comedores {
        .jumbotron {
            .dashed-border {
                margin-top: 60px;
            }
        }

        .descripcion {
            &::after {
                top: -63px;
                width: 133px;
                height: 182px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 2rem;
                }
            }

            &::after {
                width: 310px;
                height: 160px;
            }
        }

        .descanso-1 {
            &::after {
                width: 170px;
                height: 60px;
                top: -20px;
            }
        }

        .descanso-2 {
            &::after {
                width: 114px;
                height: 129px;
                top: -65px;
            }
        }

        .descanso-3 {    
            &::after {
                bottom: -80px;
                width: 200px;
                height: 189px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .comedores {
        .descripcion {
            &::after {
                width: 173px;
                height: 237px;
            }
        }
        
        .descanso-1 {
            &::after {
                width: 220px;
                height: 78px;
                top: -50px;
            }
        }

        .descanso-2 {
            &::after {
                width: 170px;
                height: 192px;
                top: -90px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 230px;
                height: 217px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}