// Fonts
$fa-font-path: "../fonts/webfonts" !default;

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Core fonts
@font-face {
    font-family: 'azo_sansbold';
    src: url('../fonts/azosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/azosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'azo_sansregular';
    src: url('../fonts/azosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/azosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ruan_naturalbold';
    src: url('../fonts/ruannatural-bold-webfont.woff2') format('woff2'),
         url('../fonts/ruannatural-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colusregular';
    src: url('../fonts/colusregular-webfont.woff2') format('woff2'),
         url('../fonts/colusregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothicbold';
    src: url('../fonts/gothicb-webfont.woff2') format('woff2'),
         url('../fonts/gothicb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tarahumara_fontregular';
    src: url('../fonts/tarahumarafont-webfont.woff2') format('woff2'),
         url('../fonts/tarahumarafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roustelregular';
    src: url('../fonts/roustel-webfont.woff2') format('woff2'),
         url('../fonts/roustel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}