// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'azo_sansregular', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

.cursiva {
    font-family: 'roustelregular', serif !important;
}

header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

.descanso {
    padding: 60px 0;

    iframe {
        position: relative;
        z-index: 1;
    }
}

.descanso-foto {
    position: relative;
    overflow: hidden;
    // Comentar estas dos líneas en caso de que se quiera reaparecer la foto de fondo en los descansos:
    background-image: none !important;
    min-height: auto !important;

    .overlay {
        opacity: 0.2000000238418579;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    video {
        width: 100%;
        margin-bottom: -6px;
    }
}

.galeria {
    position: relative;
    
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .swiperGaleria {
        height: 80%;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.6100000143051147;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

footer {
    padding: 100px 0;
    position: relative;
    color: $footer-text-color;

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .logo,
    form,
    hr {
        position: relative;
        z-index: 2;
    }

    a {
        color: $footer-link-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'azo_sansbold', sans-serif !important;
    }

    nav {
        text-transform: uppercase;

        ul {
            line-height: 2rem;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: 1;
    }

    .logo {
        max-width: 120px;
        margin-bottom: 1rem;
    }

    .social {
        @include font-size(2rem);
        margin-left: 24px;
    }

    form {
        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-control-plaintext ~ label,
        .form-floating > .form-select ~ label {
            color: $footer-text-color;
        }

        .form-floating > .form-control:focus ~ label::after,
        .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
        .form-floating > .form-control-plaintext ~ label::after,
        .form-floating > .form-select ~ label::after {
            background-color: transparent;
        }

        .form-control {
            background-color: transparent;
            color: $footer-text-color;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid white;

            &:focus {
                background-color: transparent;
                color: $footer-text-color;
            }
        }

        .btn {
            background-color: transparent;
            border-radius: 0;
            color: $footer-text-color;
        }
    }

    hr {
        border-top: 1px solid #FFF;
        opacity: 1;
        top: 80px;
    }
}