// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.home {
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(16, 32, 52, 0.92) 0%, #102034 100%);
    color: $home-text-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'ruan_naturalbold', sans-serif;
    }

    .jumbotron {
        height: 70vh;
        min-height: 70vh;
        position: relative;

        .container-fluid,
        .row {
            height: 100% !important;
        }

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .nav-container {
            @include background('../images/home/bg-nav-container.jpg', center, cover);
            border-radius: 0px 85px 85px 0px;
            width: 100%;
            height: 500px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .row {
                position: relative;
                z-index: 2;
            }

            .overlay {
                background: rgba(0, 0, 0, 0.66);
                border-radius: 0px 85px 85px 0px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .logo {
                max-width: 140px;
                margin: 0 30px;
            }

            nav {
                position: relative;
                right: 0;
                width: 100%;
                z-index: 2;
                margin-right: 30px;

                ul {
                    margin-bottom: 0;

                    li {
                        margin: 15px 0;

                        a {
                            text-align: center;
                            text-transform: uppercase;
                            border-radius: 87px;
                            background-color: $home-nav-color-button;
                            width: 100%;
                            color: $home-nav-text-color-button;
                            display: inline-block;
                            padding: 10px 15px;

                            &:hover,
                            &:focus {
                                background-color: $home-nav-color-button-hover;
                                color: $home-nav-text-color-button-hover;
                            }
                        }
                    }
                }
            }
        }

        .video-container {
            @include background('../images/home/bg-video-container.jpg', center, cover);
            border-radius: 0 0 437px 437px;
            width: 80%;
            height: 100%;
            position: absolute;
            top: 0;
            overflow: hidden;
            @include absolute-center-x;

            .overlay {
                background: rgba(255, 255, 255, 0.48);
                border-radius: 0 0 437px 437px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .dashed-border {
            @include background('../images/home/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: absolute;
            bottom: 64px;
            left: 0;
            width: 100%;
            height: 1px;
        }
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
        
        .overlay {
            color: #FFF;
            @include font-size(3rem);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                span {
                    display: none;
                }
            }
        }
        
        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            @include background('../images/home/decor-descanso.png', center, contain);
            @include absolute-center-x;
            position: absolute;
            bottom: -40px;
            width: 86%;
            height: 85px;
            content: '';
        }
    }

    footer {
        @include background('../images/home/bg-footer.jpg', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $home-link-color-hover;
            }
        }

        .overlay {
            opacity: 0.7599999904632568;
            background: #122236;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .home {
        .descanso {
            padding-bottom: 80px;
    
            &::after {
                bottom: -56px;
                width: 80%;
                height: 114px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .home {
        .descanso {
            padding-bottom: 110px;
    
            &::after {
                bottom: -74px;
                width: 78%;
                height: 148px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .home {
        .jumbotron {   
            .nav-container {
                .logo {
                    max-width: 140px;
                }
    
                nav {
                    position: absolute;
                    right: -100px;
                    width: 40%;
                    z-index: 2;
                    margin-right: 0;
                    @include absolute-center-y;
                }
            }
    
            .video-container {
                position: absolute;
                right: 30px;
                -webkit-transform: translateX(-30px);
                        transform: translateX(-30px);
                width: 50%;
            }
        }
    
        .descanso {
            padding-bottom: 160px;
    
            &::after {
                bottom: -78px;
                width: 66%;
                height: 161px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}
