// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .navbar-scroll {
        padding: 10px 30px !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        @include transition(ease, 0.3s);
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}
