// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.ruan {
    background: linear-gradient(180deg, #102034 0%, rgba(16, 32, 52, 0.92) 100%);
    color: $ruan-text-color;

    .navbar-scroll {
        background: linear-gradient(180deg, #102034 0%, rgba(16, 32, 52, 0.92) 100%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'ruan_naturalbold', sans-serif;
    }

    .navegacion {
        padding: 30px 0;

        a {
            color: $ruan-link-color;
        }

        ul {
            margin-bottom: 0;
        }

        .logo {
            max-width: 74px;
        }

        nav {
            text-transform: uppercase;

            ul {
                border-bottom: 1px solid $ruan-navigation-border-bottom-color;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;

                        &:hover,
                        &:focus {
                            background-color: #FFF;
                            color: #333;
                        }
                    }

                    .active {
                        background-color: #FFF;
                        color: #333;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }

            ul > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .jumbotron {
        img {
            position: relative;
            z-index: 2;
        }

        .dashed-border {
            @include background('../images/ruan/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 1px;
        }
    }

    .descripcion {
        padding: 60px 0;
        position: relative;

        h1 {
            @include font-size(5rem);
            color: #fff;
        }

        &::after {
            @include background('../images/ruan/decor-descripcion.png', center, contain);
            position: absolute;
            top: -32px;
            left: 0;
            width: 92px;
            height: 126px;
            content: '';
        }
    }

    .mision-vision {
        padding: 60px 0;
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
    }

    .descanso-1 {
        &::after {
            @include background('../images/ruan/decor-descanso-1.png', center, contain);
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            height: 42px;
            content: '';
        }
    }

    .descanso-2 {
        &::after {
            @include background('../images/ruan/decor-descanso-2.png', center, contain);
            position: absolute;
            top: -40px;
            left: 0;
            width: 70px;
            height: 79px;
            content: '';
        }
    }

    .descanso-3 {
        .overlay {
            color: #FFF;
            @include font-size(3rem);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                span {
                    display: none;
                }
            }
        }
        
        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            @include background('../images/ruan/decor-descanso.png', center, contain);
            position: absolute;
            right: 60px;
            bottom: -40px;
            width: 96px;
            height: 90px;
            content: '';
        }
    }

    .caracteristicas {
        padding: 60px 0;
        position: relative;

        &::after {
            @include background('../images/ruan/decor-caracteristicas.png', center, contain);
            position: absolute;
            bottom: 0;
            right: 0;
            width: 167px;
            height: 86px;
            content: '';
        }
    }

    .descanso-foto {
        @include background('../images/ruan/bg-descanso-foto.jpg', center, cover);
        min-height: 500px;
    }

    .lo-que-hacemos {
        @include background('../images/ruan/bg-lo-que-hacemos.png', center, cover);
        padding: 60px 0;

        .position-relative {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include transition(ease, 0.3s);

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                span {
                    display: none;
                }
            }
            
            /*
            img {
                min-width: 100%;
            }
            */

            &:hover {
                transform: scale(1.03) translate3d(0,0,0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.75);
            }
        }

        .rounded {
            border-radius: 44px !important;
        }

        .overlay {
            background: rgba(0, 0, 0, 0.67);         
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;

            h2 {
                @include font-size(4rem);
            }
        }

        .thumb-agave {
            .logo {
                max-width: 250px !important;
            }
        }

        .thumb-tarahumara {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'tarahumara_fontregular', sans-serif;
                text-transform: capitalize;
            }
        }
    }

    .contactanos {
        @include background('../images/ruan/bg-contactanos.jpg', center, cover);
        padding: 100px 0;
        position: relative;
        color: #FFF;

        .overlay {
            opacity: 0.6000000238418579;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        h1 {
            font-family: 'colusregular', serif;
            @include font-size(4rem);
            letter-spacing: 2px;
        }

        h2 {
            @include font-size(2rem);
            letter-spacing: 2px;
        }
    }

    .galeria {
        padding: 100px 0;

        &::after {
            position: absolute;
            top: 45px;
            right: 0;
            content: '';
            @include background('../images/ruan/decor-galeria.png', bottom center, contain);
            width: 150px;
            height: 150px;
        }
    }

    footer {
        @include background('../images/ruan/bg-footer.jpg', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $ruan-link-color-hover;
            }
        }

        .overlay {
            opacity: 0.7599999904632568;
            background: #122236;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .ruan {
        .navegacion {
            nav {
                text-transform: uppercase;
    
                ul {
                    flex-direction: row;
                }
    
                ul > * {
                    flex: 1;
                    text-align: center;
                }
            }
        }

        .descanso-3 {
            padding-bottom: 80px;
    
            &::after {
                bottom: -56px;
                width: 119px;
                height: 114px;
            }
        }

        .galeria {
            &::after {
                width: 200px;
                height: 200px;
                top: 26px;
                right: 74px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .ruan {
        .descripcion {
            &::after {
                width: 109px;
                height: 150px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 1rem;
                }
            }

            &::after {
                width: 260px;
                height: 134px;
            }
        }

        .descanso-1 {
            &::after {
                width: 120px;
                height: 42px;
            }
        }

        .descanso-2 {
            &::after {
                width: 100px;
                height: 113px;
            }
        }

        .descanso-3 {    
            &::after {
                bottom: -56px;
                width: 164px;
                height: 155px;
            }
        }

        .galeria {
            &::after {
                width: 300px;
                height: 300px;
                top: -12px;
                right: 70px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .ruan {
        .jumbotron {
            .dashed-border {
                margin-top: 60px;
            }
        }

        .descripcion {
            &::after {
                top: -63px;
                width: 133px;
                height: 182px;
            }
        }

        .caracteristicas {    
            ul {
                li {
                    margin-bottom: 2rem;
                }
            }

            &::after {
                width: 310px;
                height: 160px;
            }
        }

        .descanso-1 {
            &::after {
                width: 170px;
                height: 60px;
                top: -20px;
            }
        }

        .descanso-2 {
            &::after {
                width: 114px;
                height: 129px;
                top: -65px;
            }
        }

        .descanso-3 {    
            &::after {
                bottom: -80px;
                width: 200px;
                height: 189px;
            }
        }

        .galeria {
            &::after {
                width: 300px;
                height: 300px;
                top: -12px;
                right: 70px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .ruan {
        .descripcion {
            &::after {
                width: 173px;
                height: 237px;
            }
        }
        
        .descanso-1 {
            &::after {
                width: 220px;
                height: 78px;
                top: -50px;
            }
        }

        .descanso-2 {
            &::after {
                width: 170px;
                height: 192px;
                top: -90px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 230px;
                height: 217px;
            }
        }

        .galeria {
            &::after {
                width: 350px;
                height: 350px;
                top: -24px;
                right: 70px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    .ruan {
        .galeria {
            &::after {
                top: -32px;
                right: 166px;
            }
        }
    }
}