// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
.tarahumara {
    background: transparent;
    color: $tarahumara-text-color;

    .navbar-scroll {
        background: $primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'tarahumara_fontregular', sans-serif;
    }

    .navegacion {
        padding: 30px 0;

        a {
            color: $tarahumara-link-color;
        }

        ul {
            margin-bottom: 0;
        }

        .logo {
            max-width: 74px;
        }

        nav {
            text-transform: uppercase;

            ul {
                border-bottom: 1px solid $tarahumara-navigation-border-bottom-color;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;

                        &:hover,
                        &:focus {
                            background-color: #7F1111;
                            color: #FFF;
                        }
                    }

                    .active {
                        background-color: #7F1111;
                        color: #FFF;
                    }
                }

                .list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }

            ul > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .jumbotron {
        img {
            position: relative;
            z-index: 2;
        }

        .dashed-border {
            @include background('../images/tarahumara/bg-dashed-border.png', center, contain);
            background-repeat: repeat-x;
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 1px;
        }
    }

    .descripcion {
        padding: 60px 0;
        position: relative;

        h1 {
            @include font-size(5rem);
        }

        &::after {
            @include background('../images/tarahumara/decor-descripcion.png', center, contain);
            position: absolute;
            top: -32px;
            right: 0;
            width: 145px;
            height: 114px;
            content: '';
        }
    }

    .descanso {
        padding-bottom: 60px;
        position: relative;
    }

    .descanso-1 {
        h1 {
            font-family: 'century_gothicbold', sans-serif;
        }

        &::after {
            @include background('../images/tarahumara/decor-descanso-1.png', center, contain);
            position: absolute;
            top: -14px;
            left: 0;
            width: 100%;
            height: 20px;
            content: '';
        }
    }

    .descanso-2 {
        padding-bottom: 120px;

        h1 {
            @include font-size(5rem);
        }

        .position-relative {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include transition(ease, 0.3s);

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                span {
                    display: none;
                }
            }

            img {
                min-width: 100%;
            }

            &:hover {
                transform: scale(1.03) translate3d(0,0,0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.75);
            }
        }

        .rounded {
            border-radius: 44px !important;
        }

        .overlay {
            background: linear-gradient(180deg, rgba(127, 17, 17, 0.00) 7.81%, rgba(127, 17, 17, 0.56) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::after {
            @include background('../images/tarahumara/decor-descanso-2.png', center, contain);
            position: absolute;
            bottom: 46px;
            left: 0;
            width: 100%;
            height: 24px;
            content: '';
        }
    }

    .descanso-3 {
        .overlay {
            color: #FFF;
            @include font-size(3rem);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                span {
                    display: none;
                }
            }
        }
        
        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            @include background('../images/catering/decor-descanso.png', center, contain);
            @include absolute-center-x;
            position: absolute;
            bottom: -40px;
            width: 86%;
            height: 85px;
            content: '';
        }
    }

    .descanso-foto {
        @include background('../images/tarahumara/bg-descanso-foto.jpg', center, cover);
        min-height: 500px;
    }

    .contactanos {
        @include background('../images/tarahumara/bg-contactanos.webp', center, cover);
        padding: 100px 0;
        position: relative;
        color: #FFF;

        .overlay {
            opacity: 0.38999998569488525;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        h1 {
            font-family: 'century_gothicregular', serif;
            @include font-size(4rem);
            letter-spacing: 2px;
        }

        h2 {
            @include font-size(2rem);
            letter-spacing: 2px;
        }
    }

    .galeria {
        padding: 100px 0;

        &::after {
            position: absolute;
            bottom: 33px;
            left: 0;
            content: '';
            @include background('../images/tarahumara/decor-galeria.png', bottom center, contain);
            width: 100%;
            height: 36px;
        }
    }

    footer {
        @include background('../images/tarahumara/bg-footer.webp', bottom center, cover);

        a {
            &:hover,
            &:focus {
                color: $tarahumara-link-color-hover;
            }
        }

        /*
        .overlay {
            opacity: 0.699999988079071;
            background: #000;
        }
        */
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .tarahumara {
        .navegacion {
            nav {
                text-transform: uppercase;
    
                ul {
                    flex-direction: row;
                }
    
                ul > * {
                    flex: 1;
                    text-align: center;
                }
            }
        }

        .descanso-1 {
            &::after {
                width: 100%;
                height: 23px;
            }
        }

        .descanso-2 {
            &::after {
                width: 100%;
                height: 31px;
            }
        }

        .descanso-3 {
            padding-bottom: 80px;
    
            &::after {
                bottom: -56px;
                width: 80%;
                height: 114px;
            }
        }

        .galeria {
            &::after {
                bottom: 30px;
                width: 100%;
                height: 48px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .tarahumara {
        .descripcion {
            &::after {
                width: 167px;
                height: 132px;
            }
        }

        .descanso-1 {
            &::after {
                width: 100%;
                height: 30px;
            }
        }

        .descanso-2 {
            &::after {
                width: 100%;
                height: 40px;
                bottom: 37px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 200px;
            }
        }

        .galeria {
            padding-bottom: 120px;

            &::after {
                bottom: 30px;
                width: 100%;
                height: 61px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .tarahumara {
        .jumbotron {
            .dashed-border {
                margin-top: 60px;
            }
        }

        .descripcion {
            &::after {
                top: -63px;
                width: 230px;
                height: 182px;
            }
        }

        .descanso-1 {
            &::after {
                width: 100%;
                height: 36px;
                top: -27px;
            }
        }

        .descanso-2 {
            padding-bottom: 160px;

            &::after {
                width: 100%;
                height: 49px;
                bottom: 52px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 250px;
            }
        }

        .galeria {
            padding-bottom: 160px;

            &::after {
                bottom: 45px;
                width: 100%;
                height: 74px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .tarahumara {
        .descripcion {
            &::after {
                width: 300px;
                height: 237px;
            }
        }
        
        .descanso-1 {
            &::after {
                width: 100%;
                height: 42px;
                top: -36px;
            }
        }

        .descanso-2 {
            &::after {
                width: 100%;
                height: 57px;
                bottom: 48px;
            }
        }

        .descanso-3 {    
            &::after {
                width: 80%;
                height: 300px;
            }
        }

        .galeria {
            padding-bottom: 160px;

            &::after {
                bottom: 38px;
                width: 100%;
                height: 86px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}